<template>
    <div id="ninjas">
        <button v-on:click.prevent="test">on load</button>
        <table>
            <tbody>
                <tr>
                    <td style="text-align:center">#</td>
                    <td style="text-align:center">name</td>
                    <td>Type</td>
                    <td style="text-align:center">Photo</td>
                    <td>Address</td>
                </tr>
                <tr v-for="(items, index) in data_scg">
                    <td>{{ index + 1 }}</td>
                    <td>
                        {{ items.name }}
                    </td>
                    <td>
                        <img v-bind:src="items.icon">
                    </td>
                    <td>
                        <!-- items.photos[0].photo_reference -->
                        <img class="rig-img" v-bind:src="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference='+items.photos[0].photo_reference+'&key=AIzaSyBFW4pv9XnMmDskQkXHfjDko7oz-6fkbz4'" height="150" width="150" alt="Pic From Google">
                    </td>
                    <td>
                        {{ items.vicinity }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
    props: {
      ninjas: {
        type: Array,
        required: true
      }
    },
    created() {
        this.$http.post('http://localhost:3000/scg/restaurants', {

          }).then(data =>{
              this.data_scg = JSON.parse(data.bodyText);
              console.log('response::',JSON.parse(data.bodyText))
          }).catch(error => {
              console.log(error)
          })
    },
    data(){
        return{
            scg: {
                title: '',
                conenent: ''
            },
            data_scg: []
        }
    },
    methods: {
      deleteNinja: function(){
        this.ninjas.pop();
      },
      test: function(){
          this.$http.post('http://localhost:3000/scg/restaurants', {
              headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
                    'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
              }
          }).then(data =>{
              this.data_scg = JSON.parse(data.bodyText);
              console.log('response::',JSON.parse(data.bodyText))
          }).catch(error => {
              console.log(error)
          })
      }
    }
}
</script>
<style scoped>
#ninjas{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
li{
    flex-grow: 1;
    flex-basis: 300px;
    text-align: center;
    padding: 30px;
    border: 1px solid #222;
    margin: 10px;
}
</style>
